/*У меня проблема со следующими вещами (толю туплю толи не совсем усвоил а сейчас уже каша совсем в голове):
1. не получается подцепить картинку в css;
2. Не понимаю почему вторая страница двигается вправа вроде контейнер и боди одинковые*/
body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	min-width: 1200px; 
	background: #f2f2f2;
}

.container {
	width: 1200px;
	margin:0 auto;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,1,1,0.2);
}

.main-header {
	position: relative;
}

.logo {
	position: absolute;
	width: 138px;
	height: 70px;
	z-index: 3;
	top:0;
	left:50%;
	transform: translateX(-50%);
}

 .main-nav ul {
	padding: 0px;
	font-size: 0px;
	padding: 0 6%;
}

.main-nav li {
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
	width: 20%;
	display: inline-block;
}

.main-nav li:nth-child(1),
.main-nav li:nth-child(2) {
	text-align: left;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
}

.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
	text-align: right;
}

.intro {
	position: relative;
	width: 100%;
	height: 451px;
	padding-top: 131px;
	text-align: center;
	background: url("../img/back_photo.jpg"); /*Экпортировать картинку из PH с тире попбокам и померить высоту*/
}

.intro:after {
	position: absolute;
	content: "";
	bottom: 0;
	left:0;
	width:100%;
	height: 57px;
	background: url("../img/back_photo_bottom.png"); 
}

a {
	text-decoration: none;
	color: #000000;
}

.main-title {
	padding: 50px 0;
	text-align: center;
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.text  {
	line-height: 26px;
	margin: 0px;
	text-align: center;
}

 .benefits {
 	background-color: #81b3d2;
 }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
 .benefits-text {
 	float: left;
 	width: 33.3334%;
 	color: #fff;
 	text-align: center;
 	padding-top: 49px;
 }


 .benefits-image {
 	float: left;
 	width: 66.6667%;
 }


.feautures-title {
	font-size: 14px;
}

.features-item {
	float: left;
	font-size: 14px;
	width: 33.3334%;
	padding-top: 58px;
	padding-bottom: 67px;
	text-align: center;
}

.benefits-gray-bg {
	background-color: #eeeeee;
}

.benefits-gray-bg .benefits-text {
	color: #000;
}

.offer {
	text-align: center;
	padding-top: 42px;
}

.offer p {
	padding: 0 28%;
}



.btn {
	font-size: 21px;
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 568px;
	margin: 0 auto;
}

.offer-btn {
	display: block;
	background-color: #766357;
	font-size: 21px;
	color: #fff;
	padding-top: 35px;
}

.hotel-search {
	/*display: none; JS*/
	position:absolute;
	top: 50%;
	left: 50%;
	z-index:2;
	margin-left: -284px;
	/*margin-top: -197px;*/
	box-sizing: border-box;
	text-align: center;
	padding: 10px;
	width: 568px;
}
/* JS
.hotel-search-show {
	display: block;
	animation: bounce 0.6s;
}*/

.hotel-search-row {
	display: inline-block;
	padding-top: 5px;
}

.hotel-search-btn {
	width: 458px;
	background-color: #81b3d2;
	color: #ffffff;
	border: 0px;
	padding-top: 17px;
	padding-bottom: 21px;

}

/*Недогоняю как с футером сделать*/
.main-footer {
	position: relative;
}

.map{
	width: 100%;
	height: 593px; 
	/*Не понимаю почему картинки не отображаются, как правильно?*/
	background: url("../img/map.jpg");
}

.index-footer {
	background-color: #fff;
	opacity: 0.9;
	position: absolute; 
	bottom: 0;
	z-index: 1; 
	padding:  0 6%;
	width: 100%;
	box-sizing:  border-box;
	font-size: 0px;
}

.hashtag {
	display: inline-block;
	vertical-align: top;
	width: 33.3334%;
	text-align: left;
	font-size: 14px;
}

.social {
	display: inline-block;
	vertical-align: top;
	width: 33.3334%;
	font-size: 0px;
}

.social-btn {
	font-size: 14px;
}

.copyright {
	display: inline-block;
	vertical-align: top;
	width: 33.3334%;
	text-align: right;
	font-size: 14px;
}


/*Проба пера по JS
@keyframes bounce {
  0%   {
    transform: translateY(-70px);
  }
  70%  {
    transform: translateY(-50px);
  }
  90%  {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
*/

.filter {
	background: url("../img/filter_back.jpg");
	padding: 0 6%;
}

/*Как прижать влево в группе??*/
.filter-group {
	float:left;
	width: 300px;
}

 .filter-group input {
 	display: none;
 }
 
 .filter-group label {
 	display: block;
 }

.filter-cost {
	float: right;
	width: 300px;
}

.sort {
	padding: 0 6%;
}

.sort-title {
	display: inline-block;
	padding-left: 77px;
	padding-top: 29px;
}


.sort-label {
	display: inline-block;
	padding-left: 44px;
	padding-top: 40px;
}

.sort-by {
	display: inline-block;
	padding-left: 40px;
	padding-top: 40px;

}

.sort-price {
	display: inline-block;
	padding-left: 40px;
}

.sort-triangles {
	
	display: inline-block;
	
	

}
/*Пляшут треугонольники */
.icon-up {
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	border: 7px solid transparent;	
	border-bottom: 11px solid #81b3d2;
	
}

.icon-down {
	float:right;
	border: 7px solid transparent;	
	border-top: 11px solid #81b3d2;
}

.hotels {
	padding: 0 6%;
}

.hotel-item {
	border-top: 1px solid #e5e5e5;
	padding: 20px 0px 10px 0px; /*PH проверить паддинг*/
}

.hotel-image {
	float: left;
}

.hotel-info {
	float: left;
	padding-left: 73px;
	padding-top: 29px;
}

.hotel-info-btn {
	display: block;
}

.hotel-info-text {
 	float: left;
 	width: 110px;
 }

/*Почему первый рейтинг не флотится справа?*/
.hotel-rating {
	float: right;
}

.footer-inner {
	font-size: 0px;
	padding:  0 6%;
}