body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	min-width: 1200px; 
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin:0 auto;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,1,1,0.2);
}


.main-header {
	position: relative;
}

.logo {
	position: absolute;
	width: 138px;
	height: 70px;
	z-index: 3;
	top:0;
	left:50%;
	transform: translateX(-50%);
}

 .main-nav ul {
	padding: 0px;
	font-size: 0px;
	padding: 15px 6% 13px;
}

.main-nav li {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	box-sizing: border-box;
	width: 20%;
	display: inline-block;
}

.main-nav li:nth-child(1),
.main-nav li:nth-child(2) {
	text-align: left;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
	padding-left: 20px;
}

.main-nav li:nth-child(3) {
	padding-right: 20px;
}


.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
	text-align: right;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #b2b2b2;
}

#current {
	color: #766357;
}

.intro {
	position: relative;
	width: 100%;
	height: 441px;
	padding-top: 70px;
	text-align: center;
	background: url("../img/back_photo.jpg");
	background-position: 0px -53px;
}

.intro:before {
	position: absolute;
	}

.intro:after {
	position: absolute;
	content: "";
	bottom: 0;
	left:0;
	width:100%;
	height: 57px;
	background: url("../img/back_photo_bottom.png"); 
}

a {
	text-decoration: none;
	color: #000000;
}

.main-title {
	padding: 41px 340px 14px;
	text-align: center;
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.text  {
	line-height: 26px;
	margin: 0px auto;
	max-width: 600px;
	padding-bottom: 49px;
	text-align: center;
}

 .benefits {
 	background-color: #81b3d2;
 }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


 .benefits-text {
 	font-size: 14px;
 	float: left;
 	width: 33.3334%;
 	color: #fff;
 	text-align: center;
 	padding-top: 25px;
 }

 .benefits-title {
 	padding: 4px 110px 7px;
 }

  .benefits-text p {
  	padding: 8px 36px;
  }

  .benefits-gray-bg p {
  	padding: 6px 45px;
  }

  .benefits-image img { 
  	display: block;
  }

 .benefits-image {
 	float: left;
 	width: 66.6667%;
 }

.features {
	vertical-align: top;
	font-size: 0px;
	text-align: center;
	padding: 48px 0 62px;
}

 .features p {
  	padding: 6px 37px;
  }


.features-item {
	width: 33.3334%;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	vertical-align: top;
}
.feautures-title {
	position: relative;
	padding-top: 95px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.feautures-title::before {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	width: 78px;
	height: 88px;
	transform: translateX(-50%);
	background-image: url("../img/spritesheet.png") ;
	}

.feautures-title-house::before {
	width: 75px;
    height: 72px;
    background-position: -555px -5px;
}

.feautures-title-food::before {
	width: 74px;
    height: 70px;
    background-position: -471px -5px;
}

.feautures-title-souvenirs::before {
    width: 64px;
    height: 76px;
    background-position: -640px -5px;
}

.benefits-gray-bg {
	background-color: #eeeeee;
}

.benefits-gray-bg .benefits-text {
	color: #000;
	padding: 30px 0 39px
}

.offer {
	text-align: center;
	padding-top: 54px;
}

.offer-title {
	font-size: 30px;
	font-weight: normal;
	padding: 56px 0 33px;
}

.offer p {
	padding: 14px 0 38px;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	font-weight: bold;
}

.btn:hover {
	background-color: #669ec0;
}

.btn:active {
	background-color: #5496bd;
	color: #88b6d1
}

.offer-btn {
	display: block;
	background-color: #766357;
	color: #fff;
	font-size: 21px;
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 568px;
	margin: 0 auto;
	padding: 32px 0px 33px;
}

.hotel-search {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	z-index:2;
	margin-left: -284px;
	padding: 55px;
	box-sizing: border-box;
	text-align: center;
	font-size: 0px;
	width: 568px;
	background-color: #ffffff;
}

.hotel-search-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes bounce {
  0%   {
    transform: translateY(-100%);
  }
  100%  {
    transform: translateY(0);
	}
}

.hotel-search-row {
	font-size: 14px;
	position: relative;
	padding-bottom: 26px;
}


.hotel-search-field {
	position: relative;
}

.btn-calendar {
	position: absolute;
	top: -1px;
	right: 0;
	height: 40px;
	width: 40px;
	border:  none;
	background: transparent;
	outline: none;
	cursor: pointer;
}

.btn-minus {
	position: absolute;
	top: 3px;
	right: 80px;
	height: 40px;
	width: 40px;
	border:  none;
	z-index: 1;
	background: transparent;
	outline: none;
	cursor: pointer;

}

.btn-plus {
	position: absolute;
	top: 2px;
	right: 3px;
	height: 40px;
	width: 40px;
	border:  none;
	background: transparent;
	outline: none;
	cursor: pointer;

}

.hotel-search-row label {
	float: left;
	font-weight: bold;
	padding-top: 9px;
	/*padding-right: 5px;*/
	text-align: left;
}
input[type="text"] {
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'PT Sans', Arial, sans-serif;
}

.hotel-search-field input {
	padding-left: 10px;
	background-color: #f2f2f2;
	border: medium none;
	height: 38px;
	font-weight: bold;
	width: 335px;
	float: right;
}

.hotel-search-number {
	position: relative;
	font-size: 14px;
}

.hotel-search-number:nth-child(1) {
	float: left;
	width: 233px;
}

.hotel-search-number:nth-child(2) {
	float: right;
	width: 180px;
}

.hotel-search-number input {
	float: right;
	width: 120px;
	border: medium none;
	background-color: #f2f2f2;
	height: 38px;
	font-weight: bold;
	text-align: center;
}

.hotel-search input:hover {
	background-color: #ebebeb;
}

.hotel-search input:focus {
	background-color: #ffffff;
	outline: #e5e5e5 solid 2px;
}

.hotel-search-btn {
	width: 458px;
	background-color: #81b3d2;
	color: #ffffff;
	border: 0px;
	padding-top: 17px;
	margin-top: 27px;
	padding-bottom: 20px;
	font-size: 21px;
}

.btn-calendar:before {
	content: "";
	position: absolute;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
	width: 22px;
    height: 22px;
    background-position: -68px -5px;
}

.btn-calendar:hover:before {
	width: 21px;
    height: 22px;
    background-position: -130px -5px;
}

.btn-calendar:active:before {
	width: 21px;
    height: 22px;
    background-position: -99px -5px;
}

.btn-minus:before {
	content: "";
	position: absolute;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 12px;
    height: 3px;
    background-position: -365px -5px;
}

.btn-minus:hover:before {
	width: 12px;
    height: 3px;
    background-position: -409px -5px;
}

.btn-minus:active:before {
	width: 12px;
    height: 3px;
    background-position: -387px -5px;
}

.btn-plus:before {
	content: "";
	position: absolute;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 11px;
    height: 11px;
    background-position: -5px -5px;
}

.btn-plus:hover:before {
	width: 11px;
    height: 11px;
    background-position: -47px -5px;
}

.btn-plus:active:before {
	width: 11px;
    height: 11px;
    background-position: -26px -5px;
}

.main-footer {
	position: relative;
	overflow: hidden;
}

.map{
	width: 100%;
	height: 589px; 
	background: url("../img/map.jpg");
}

.index-footer {
	background-color: #fff;
	opacity: 0.9;
	position: absolute; 
	bottom: 0;
	z-index: 1;
	padding: 20px 103px 40px 135px;
	width: 100%;
	box-sizing:  border-box;
	font-size: 0px;
	height: 120px;
}

.hashtag {
	display: inline-block;
	vertical-align: top;
	width: 31%;
	text-align: left;
	font-size: 21px;
	padding-top: 33px;
	font-weight: bold;
}

.social {
	display: inline-block;
	vertical-align: top;
	width: 33.3334%;
	font-size: 0px;
	text-align: center;
	padding-left: 6px;
	padding-top: 18px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 47px;
	height: 48px;
	font-size: 0px;
	background-color: #81b3d2;
	position: relative;
	margin: 3px;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn-tw::before {
	width: 17px;
    height: 15px;
    background-position: -1457px -5px;
}

.social-btn-tw:active::before {
	width: 17px;
    height: 15px;
    background-position: -1484px -5px;
}

.social-btn-fb::before {
	width: 10px;
    height: 19px;
    background-position: -431px -5px;
}

.social-btn-fb:active::before {
	width: 10px;
    height: 19px;
    background-position: -451px -5px;
}

.social-btn-ytb::before {
	width: 20px;
    height: 16px;
    background-position: -1511px -5px;
}

.social-btn-ytb:active::before {
    width: 20px;
    height: 16px;
    background-position: -1541px -5px;
}

.copyright {
	display: inline-block;
	width: 33.3334%;
	font-size: 0px;
	padding-top: 20px;
}


.copyright p {
	float: left;
	font-size: 14px;
	padding-left: 140px;
}

.copyright a{
	float: left;
	font-size: 0px;
	position: relative;
	margin: 6px 2px;
}

.btn-copyright::before {
	content: "";
	position: absolute;
	background-image: url("../img/spritesheet.png");
	width: 113px;
    height: 39px;
    background-position: -862px -5px;
}

.btn-copyright:hover::before {
	width: 113px;
    height: 39px;
    background-position: -1108px -5px;
}

.btn-copyright:active::before {
	width: 113px;
    height: 39px;
    background-position: -985px -5px;
}

.filter {
	background: url("../img/filter_back.jpg");
	padding: 28px 6% 23px;
}

.filter-group {
	float:left;
	width: 258px;
	color: #ffffff;
}

.filter-title {
 	display: block;
 	font-size: 16px;
	line-height: 21px;
	margin-bottom: 9px;
}

 .filter-group label {
 	display: block;
 	padding: 15px 0px 9px 40px;
 	position: relative;
 	cursor: pointer;
 }

  .filter-group input {
 	display: none;
 }



/*Как правильно задать для лейблов псевдоклас checked чтобы не создадлавть отдельный класс?*/
input[type="checkbox"] + label::before {
 	content: "";
	position: absolute;
	top: 25px;
	left: 9px;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
 }
input[type="checkbox"] + label::before {
	width: 22px;
    height: 22px;
    background-position: -269px -5px;
}

input[type="checkbox"]:checked + label::before  {
 	content: "";
	position: absolute;
	top: 25px;
	left: 11px;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
 }
 
input[type="checkbox"]:checked + label::before {
	width: 26px;
    height: 22px;
    background-position: -161px -5px;
}

input[type="checkbox"]:disabled + label::before {
	opacity: 0.3;
}

.filter-cost {
	float: right;
	width: 320px;
	color: #ffffff;
}

.filter-range {
	height: 33px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
	position: relative;
}

.filter-range::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.filter-range label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.filter-range .field-min,
.filter-range .field-max {
  width: 90px;
  padding-left: 60px;
  line-height: 31px;
}

.filter-range input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
}

.min-toggle {
  left: 0;
}

.max-toggle {
  left: 80%;
}

.filter-cost button {
  display: block;
  margin: 0 auto;
  padding: 6px 36px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-cost button:hover {
  color: #000000;
  background: #ffffff;
}


.sort {
	padding: 0 6%;
	margin: 31px 0;
}

.sort-title {
	display: inline-block;
	/*padding-top: 15px;*/
	font-size: 21px;
}


.sort-label {
	display: inline-block;
	padding-left: 31px;
/*	padding-top: 40px;*/
	font-weight: bold;
	font-size: 12px;
}

.sort-by {
	display: inline-block;
	/*padding-left: 10px;*/
	font-size: 12px;
	/*padding-top: 40px;*/
}

.sort-by a:hover {
	border-bottom: 1px dotted #81b3d2;
	color: #81b3d2;
}

.sort-by a:active {
	color: #000000;
	border-bottom: none;
}

.sort-price {
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 0 3px;
	color: #81b3d2;
	line-height: 14px;
}

.sort-type {
	display: inline-block;
	margin-left: 17px;
	padding: 0 3px;
	border-bottom: 1px dotted #81b3d2;
	color: #c8c8c8;
	line-height: 14px;
}

.sort-rate {
	display: inline-block;
	margin-left: 17px;
	padding: 0 3px;
	border-bottom: 1px dotted #81b3d2;
	color: #c8c8c8;
	line-height: 14px;
}

.sort-triangles {
	position: relative;
	float: right;
	padding-left: 40px;
	/*padding-top: 40px;*/
	font-size: 0px;
	height: 10px;
	box-sizing: border-box;
	width: 50px;
}


.icon-up {
	position: absolute;
	top: 3px;
	left: 14px;
	border: 6px solid transparent;	
	border-bottom: 9px solid #cccccc;
}

.icon-down {
	top: 8px;
	left: 37px;
	position: absolute;
	border: 6px solid transparent;	
	border-top: 9px solid #81b3d2;
}

.icon-up:hover {
	border-bottom: 11px solid #000000;
}

.icon-up:active {
	border-bottom: 11px solid #81b3d2;
}

.icon-down:hover {
	border-top: 11px solid #000000;
}
.hotel-image img {
	display: block;
}

.hotel-item {
	padding: 29px 6% 32px;
	border-top: 1px solid #e5e5e5;
}

.hotel-item:nth-child(3) {
	border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
	float: left;
}

.hotel-info {
	float: left;
	margin-left: 30px;
}

/*Почему может текст не сопадать при наложении?*/
.hotel-title {
	display: block;
	font-weight: bold;
	font-size: 21px;
	/*Чтобы подогнать по шаблону уменьшил высоты строчки, несмотря на Фотошоп, это допускается?*/
	line-height: 17px;
}

.hotel-title:hover {
	color: #81b3d2;
}

.hotel-title:active {
	color: #b2b2b2;
}

.hotel-info-part {
	float: left;
}

.hotel-info-btn{
	display: block;
	margin-top: 15px;
	padding: 4px 17px;
	color: #ffffff;
	background-color: #81b3d2;
	font-size: 14px;
	font-weight: bold;
}

.hotel-info-text {
 	margin: 12px 0 13px;
 }

.hotel-item-btn {
	display:block;
	padding:3px 11px;
	margin-right: 6px;
	color:#ffffff;
	background-color:#81b3d2;
	font-size:14px;
	font-weight:bold;
 }
.hotel-info-part .btn-dark {
	padding: 3px 8px;
}

 .hotel-item-btn:hover {
	background-color: #669ec0;
 }

 .hotel-item-btn:active {
	background-color: #5496bd;
	color: #88b6d1;
 }

.btn-dark {
	background-color:#766357;
}

.btn-dark:hover {
	background-color: #604e43;
}

.btn-dark:active {
	background-color: #503e33;
	color: #857871;
}

.hotel-rating {
	float: right;
	color: #666666;
	width: 111px;
}

.hotel-stars4 {
	float: right;
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
    width: 89px;
    height: 17px;
    background-position: -1358px -5px; 
 }

 .hotel-stars3{
 	float: right;
 	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 65px;
    height: 17px;
    background-position: -1283px -5px;
 }


 .hotel-stars2{
 	float: right;
 	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 42px;
    height: 17px;
    background-position: -1231px -5px;
 }

.hotel-star-count {
	background-color: #f2f2f2;
	margin-top: 5px;
	padding: 5px 3px;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
	margin-top: 63px;
}
.footer-inner {
	font-size: 0px;
	line-height: 21px;
	margin:0  7%;
	padding:  11px 22px 36px 47px;
}

.footer-inner .social {
	padding-left: 10px;
}