body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	min-width: 1200px; 
	background-color: #f2f2f2;
}

.container {
	width: 1200px;
	margin:0 auto;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,1,1,0.2);
}


.main-header {
	position: relative;
}

.logo {
	position: absolute;
	width: 138px;
	height: 70px;
	z-index: 3;
	top:0;
	left:50%;
	transform: translateX(-50%);
}

 .main-nav ul {
	padding: 0px;
	font-size: 0px;
	padding: 18px 6%;
}

.main-nav li {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	box-sizing: border-box;
	width: 20%;
	display: inline-block;
}

.main-nav li:nth-child(1),
.main-nav li:nth-child(2) {
	text-align: left;
}

.main-nav li:nth-child(2) {
	margin-right: 20%;
}

.main-nav li:nth-child(3),
.main-nav li:nth-child(4) {
	text-align: right;
}

.main-nav a:hover {
	color: #81b3d2;
}

.main-nav a:active {
	color: #b2b2b2;
}

#current {
	color: #766357;
}

.intro {
	position: relative;
	width: 100%;
	height: 451px;
	padding-top: 70px;
	text-align: center;
	background: url("../img/back_photo.jpg");
	background-position: 0px -55px;
}

.intro:before {
	position: absolute;
	transform: translateY(-1000px);
}

.intro:after {
	position: absolute;
	content: "";
	bottom: 0;
	left:0;
	width:100%;
	height: 57px;
	background: url("../img/back_photo_bottom.png"); 
}

a {
	text-decoration: none;
	color: #000000;
}

.main-title {
	padding: 50px 340px 38px;
	text-align: center;
	color: #000000;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.text  {
	line-height: 26px;
	margin: 0px auto;
	max-width: 600px;
	padding-bottom: 56px;
	text-align: center;
}

 .benefits {
 	background-color: #81b3d2;
 }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


 .benefits-text {
 	font-size: 14px;
 	float: left;
 	width: 33.3334%;
 	color: #fff;
 	text-align: center;
 	padding-top: 43px;
 }

 .benefits-title {
 	padding: 0 110px;
 }

  .benefits-text p {
  	padding: 0 36px;
  }


  .benefits-image img { 
  	display: block;
  }

 .benefits-image {
 	float: left;
 	width: 66.6667%;
 }

.features {
	vertical-align: top;
	font-size: 0px;
	text-align: center;
	padding: 50px 0 71px;
}

 .features p {
  	padding: 0 37px;
  }


.features-item {
	width: 33.3334%;
	display: inline-block;
	font-size: 14px;
	text-align: center;
}
.feautures-title {
	position: relative;
	padding-top: 92px;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.feautures-title::before {
	content: "";
	position: absolute;
	left: 50%;
	top: -17px;
	width: 78px;
	height: 88px;
	transform: translateX(-50%);
	background-image: url("../img/spritesheet.png") ;
	}

.feautures-title-house::before {
	width: 75px;
    height: 72px;
    background-position: -555px -5px;
}

.feautures-title-food::before {
	width: 74px;
    height: 70px;
    background-position: -471px -5px;
}

.feautures-title-souvenirs::before {
    width: 64px;
    height: 76px;
    background-position: -640px -5px;
}

.benefits-gray-bg {
	background-color: #eeeeee;
}

.benefits-gray-bg .benefits-text {
	color: #000;
	padding: 50px 0 63px
}

.offer {
	text-align: center;
	padding-top: 59px;
}

.offer-title {
	font-size: 30px;
	font-weight: normal;
	padding: 57px 0 37px;
}

.offer p {
	padding: 12px 0 38px;
}

.btn {
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	font-weight: bold;
}

.btn:hover {
	background-color: #669ec0;
}

.btn:active {
	background-color: #5496bd;
	color: #88b6d1
}

.offer-btn {
	font-size: 21px;
	text-decoration: none;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 568px;
	margin: 0 auto;
}

.btn-dark:hover {
	background-color: #604e43;
}

.btn-dark:active {
	background-color: #503e33;
	color: #857871;
}

.offer-btn {
	display: block;
	font-size: 21px;
	background-color: #766357;
	font-size: 21px;
	color: #fff;
	padding: 35px 0px 33px;
}

.hotel-search {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 50%;
	z-index:2;
	margin-left: -284px;
	padding: 55px;
	box-sizing: border-box;
	text-align: center;
	font-size: 0px;
	width: 568px;
	background-color: #ffffff;
}

.hotel-search-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes bounce {
  0%   {
    transform: translateY(-100%);
  }
  100%  {
    transform: translateY(0);
	}
}

.hotel-search-row {
	font-size: 14px;
	position: relative;
	padding-bottom: 15px;
}


.hotel-search-field {
	position: relative;
}

.btn-calendar {
	position: absolute;
	top: 0px;
	left: 410px;
	height: 40px;
	width: 40px;
	border:  none;
	background: transparent;
}

.btn-minus {
	position: absolute;
	top: 0px;
	left: 120px;
	height: 40px;
	width: 40px;
	border:  none;
	background: transparent;
}

.btn-plus {
	position: absolute;
	top: -3px;
	left: 190px;
	height: 40px;
	width: 40px;
	border:  none;
	background: transparent;
}

.hotel-search-row label {
	float: left;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 10px;
	text-align: left;
}

.hotel-search-field input {
	padding-left: 10px;
	background-color: #f2f2f2;
	border: medium none;
	height: 38px;
	font-weight: bold;
	width: 315px;
	float: right;
}

.hotel-search-number:nth-child(1) {
	float: left;
	font-size: 14px;
	width: 233px;
}

.hotel-search-number:nth-child(2) {
	float: right;
	font-size: 14px;
	width: 180px;
}


.hotel-search-number input {
	float: right;
	width: 100px;
	border: medium none;
	background-color: #f2f2f2;
	height: 38px;
	font-weight: bold;
	text-align: center;
	position: relative;
}

.hotel-search input:hover {
	background-color: #ebebeb;
}

.hotel-search input:focus {
	background-color: #ffffff;
	outline: #e5e5e5 solid 2px;
}

.hotel-search-btn {
	width: 458px;
	background-color: #81b3d2;
	color: #ffffff;
	border: 0px;
	padding-top: 17px;
	padding-bottom: 21px;
	font-size: 21px;
}

.btn-calendar:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.btn-calendar:before {
	width: 22px;
    height: 22px;
    background-position: -68px -5px;
}

.btn-minus:before {
	content: "";
	position: absolute;
	top: 20px;
	left: 30px;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 12px;
    height: 3px;
    background-position: -365px -5px;
}

.btn-minus:hover:before {
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 12px;
    height: 3px;
    background-position: -409px -5px;
}

.btn-minus:active:before {
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 12px;
    height: 3px;
    background-position: -387px -5px;
}

.btn-plus:before {
	content: "";
	position: absolute;
	top: 22px;
	left: 25px;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 11px;
    height: 11px;
    background-position: -5px -5px;
}

.btn-plus:hover:before {
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 11px;
    height: 11px;
    background-position: -47px -5px;
}

.btn-plus:active:before {
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 11px;
    height: 11px;
    background-position: -26px -5px;
}

.main-footer {
	position: relative;
}

.map{
	width: 100%;
	height: 593px; 
	background: url("../img/map.jpg");
}

.index-footer {
	background-color: #fff;
	opacity: 0.9;
	position: absolute; 
	bottom: 0;
	z-index: 1;
	padding:  10px 103px 36px 137px;
	width: 100%;
	box-sizing:  border-box;
	font-size: 0px;
}

.hashtag {
	display: inline-block;
	vertical-align: top;
	width: 33.3334%;
	text-align: left;
	font-size: 21px;
	padding-top: 52px;
	font-weight: bold;
}

.social {
	display: inline-block;
	vertical-align: top;
	width: 33.3334%;
	font-size: 0px;
	text-align: center;
	padding-top: 36px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 48px;
	height: 48px;
	font-size: 0px;
	background-color: #81b3d2;
	position: relative;
	margin: 6px;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn-tw::before {
	width: 17px;
    height: 15px;
    background-position: -1457px -5px;
}

.social-btn-tw:active::before {
	width: 17px;
    height: 15px;
    background-position: -1484px -5px;
}

.social-btn-fb::before {
	width: 10px;
    height: 19px;
    background-position: -431px -5px;
}

.social-btn-fb:active::before {
	width: 10px;
    height: 19px;
    background-position: -451px -5px;
}

.social-btn-ytb::before {
	width: 20px;
    height: 16px;
    background-position: -1511px -5px;
}

.social-btn-ytb:active::before {
    width: 20px;
    height: 16px;
    background-position: -1541px -5px;
}

.copyright {
	display: inline-block;
	width: 33.3334%;
	font-size: 0px;
	padding-top: 36px;
}


.copyright p {
	float: left;
	font-size: 14px;
	padding-left: 120px;
}

.copyright a{
	float: left;
	font-size: 0px;
	position: relative;
	margin: 6px;
}

.btn-copyright::before {
	content: "";
	position: absolute;
	background-image: url("../img/spritesheet.png");
}

.btn-copyright::before {
	width: 113px;
    height: 39px;
    background-position: -862px -5px;
}

.btn-copyright:hover::before {
	width: 113px;
    height: 39px;
    background-position: -1108px -5px;
}

.btn-copyright:active::before {
	width: 113px;
    height: 39px;
    background-position: -985px -5px;
}

.filter {
	background: url("../img/filter_back.jpg");
	padding: 30px 6%;
}

.filter-group {
	float:left;
	width: 330px;
	color: #ffffff;
}

 .filter-group label {
 	display: block;
 	padding: 25px 0px 10px 40px;
 	position: relative;
 	cursor: pointer;
 }

  .filter-group input {
 	display: none;
 }

/*Как правильно задать для лейблов псевдоклас checked чтобы не создадлавть отдельный класс?*/
input[type="checkbox"] + label::before {
 	content: "";
	position: absolute;
	top: 33px;
	left: 10px;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
 }
input[type="checkbox"] + label::before {
	width: 22px;
    height: 22px;
    background-position: -269px -5px;
}

input[type="checkbox"]:checked + label::before  {
 	content: "";
	position: absolute;
	top: 33px;
	left: 10px;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
 }
 
input[type="checkbox"]:checked + label::before {
	width: 26px;
    height: 22px;
    background-position: -161px -5px;
}

input[type="checkbox"]:disabled + label::before {
	opacity: 0.3;
}

.filter-title {
 	display: block;
 	font-size: 16px;
	line-height: 21px;
	margin-bottom: 9px;
}

.filter-cost {
	float: right;
	width: 330px;
	color: #ffffff;
}

.filter-range {
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
	position: relative;
}

.filter-range::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.filter-range label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.filter-range .field-min,
.filter-range .field-max {
  width: 90px;
  padding-left: 65px;
}

.filter-range input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle:hover {
  background: #1c4f80;
}

.min-toggle {
  left: 0;
}

.max-toggle {
  left: 80%;
}

.filter-cost button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-cost button:hover {
  color: #000000;

  background: #ffffff;
}


.sort {
	padding: 0 6%;
	margin-bottom: 33px;
}

.sort-title {
	display: inline-block;
	padding-top: 29px;
}


.sort-label {
	display: inline-block;
	padding-left: 49px;
	padding-top: 40px;
	font-weight: bold;
}

.sort-by {
	display: inline-block;
	padding-left: 40px;
	padding-top: 40px;
	font-weight: bold;
}

.sort-by a:hover {
	border-bottom: 1px dotted #81b3d2;
	color: #81b3d2;
}

.sort-by a:active {
	color: #81b3d2;
}

.sort-price {
	display: inline-block;
	margin-left: 37px;
	padding: 0 3px;
	color: #81b3d2;
}

.sort-type {
	display: inline-block;
	margin-left: 30px;
	padding: 0 3px;
	border-bottom: 1px dotted #81b3d2;
	color: #c8c8c8;
}

.sort-rate {
	display: inline-block;
	margin-left: 30px;
	padding: 0 3px;
	border-bottom: 1px dotted #81b3d2;
	color: #c8c8c8;
}

.sort-triangles {
	position: relative;
	float: right;
	padding-left: 40px;
	padding-top: 40px;
	font-size: 0px;
	height: 10px;
	box-sizing: border-box;
	width: 50px;
}


.icon-up {
	position: absolute;
	top: 39px;
	left: 10px;
	border: 7px solid transparent;	
	border-bottom: 11px solid #cccccc;
}

.icon-down {
	top: 46px;
	left: 25px;
	position: absolute;
	border: 7px solid transparent;	
	border-top: 11px solid #81b3d2;
}

.icon-up:hover {
	border-bottom: 11px solid #000000;
}

.icon-up:active {
	border-bottom: 11px solid #81b3d2;
}

.icon-down:hover {
	border-top: 11px solid #000000;
}

.hotel-item {
	padding: 25px 6%;
	border-top: 1px solid #e5e5e5;
}

.hotel-item:nth-child(3) {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

.hotel-image {
	float: left;
}

.hotel-info {
	float: left;
	margin-left: 73px;
}

.hotel-title {
	display: block;
	font-weight: bold;
	font-size: 21px;
}

.hotel-title:hover {
	color: #81b3d2;
}

.hotel-title:active {
	color: #b2b2b2;
}

.hotel-info-part {
	float: left;
}

.hotel-info-btn{
	display:block;
	margin-top:16px;
	padding:3px 17px;
	color:#ffffff;
	background-color:#81b3d2;
	font-size:14px;
	font-weight:bold;
}

.hotel-info-text {
 	margin: 11px 0;
 }

.hotel-item-btn {
	display:block;
	padding:3px 10px;
	margin-right: 6px;
	color:#ffffff;
	background-color:#81b3d2;
	font-size:14px;
	font-weight:bold;
 }


 .hotel-item-btn:hover {
	background-color: #669ec0;
 }

 .hotel-item-btn:active {
	background-color: #5496bd;
	color: #88b6d1;
 }

.btn-dark {
	background-color:#766357;
}

.hotel-rating {
	float: right;
	color: #666666;
}

.hotel-stars4 {
	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
    width: 89px;
    height: 17px;
    background-position: -1358px -5px; 
    margin: 0 0 42px 33px;
 }

 .hotel-stars3{
 	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 65px;
    height: 17px;
    background-position: -1283px -5px;
    margin: 0 0 42px 56px;
 }


 .hotel-stars2{
 	background-image: url("../img/spritesheet.png");
	background-repeat:no-repeat;
	width: 42px;
    height: 17px;
    background-position: -1231px -5px;
    margin: 0 0 42px 80px;
 }

.hotel-star-count {
	background-color: #f2f2f2;
	padding: 5px 13px 6px 16px;
}
.footer-inner {
	font-size: 0px;
	padding:  0 6% 36px;
}